body {
    
}
#contentBox {
   display:flex;
   flex-flow: row wrap;
   width:100%;
   justify-content: space-evenly;
   background-color: #cfeff7;
}
.presepe {
    width:35%;
    display: flex;
    flex-flow: column nowrap;
    border: solid black 1px;
    border-radius: 30px;
    background-color:#fceb7b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:2em;
}
.imageBox {
    display:flex;
    justify-content: space-evenly;
    margin-top:1em;
    flex:70%;
}
@media only screen and (max-width: 600px){
    .presepe {
    width:80%;
    display: flex;
    flex-flow: column nowrap;
    border: solid black 1px;
    border-radius: 30px;
    background-color:#fceb7b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:2em;
    }
   .imageBox {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    margin-top:1em;
    width:90%;
    }
    .imageBox img {
    margin-top: 0.5em;    
    width:90%;
    border-radius: 30px;
    border: solid black 2px;
    }

    .voteBox{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    }
}
.presepeFooter {
    display: flex;
    justify-content:space-between;
    margin-bottom:0.5em;
    margin-left: 0.5em;
   
}
.imageBox img {
    width:45%;
    border-radius: 30px;
    border: solid black 2px;
}
.presepeText h4 {
    margin-top:1em;
}
.presepeText h5 {
    margin-bottom:1em;
}
.presepeText {
    margin-left: 1em;
}
.voteBox{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.upvote {
    margin:1em;
    background-image: url(/home/bregg/Desktop/tecweb/icons/upvote.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.upvote:hover {
    
    background-image: url(/home/bregg/Desktop/tecweb/icons/upHover.png);
    
}
.downvote {
    margin:1em;
    background-image: url(/home/bregg/Desktop/tecweb/icons/downvote.png);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.downvote:hover {
    
    background-image: url(/home/bregg/Desktop/tecweb/icons/downHover.png);
    
}
.downvote:active {
    
    background-image: url(/home/bregg/Desktop/tecweb/icons/downPressed.png);
    
}
.upvote:active {
    
    background-image: url(/home/bregg/Desktop/tecweb/icons/upPressed.png);
    
}
