html {
    margin-left: 0.75cm;
    margin-top: 0.75cm;
    margin-right: 0.75cm;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 12pt;
    color: black;
    page-break-inside: initial;
}

a {
    text-decoration: none;
    color: black;
}

footer, #openImage, #menuContainer, #returnButton, .screenreaderOnly, .search{
    display: none;
}

#headerTitle {
    display: flex;
}

#logo {
    height: 4em;
    width: 4em;
}

#headerTitle h1 {
    margin-left: 1em;
}

legend {
    padding: 5mm;
}

.fieldsetForm {
    display: flex;
    page-break-inside: avoid;
}

.breadcrumbsBlock {
    height: 2em;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: left;
}

.breadcrumbContainer {
    display: flex;
}

.breadcrumbsPre {
    margin: 0.2em 0em 0em 0em;
    padding-bottom: 2em;
}

.breadcrumbs {
    padding-left: 0.5em;
    margin: 0.2em 0em 0em 0em;
    list-style: none;
    display: flex;
}

.breadcrumbs li {
    padding-left: 0.5em;
}

#content {
    padding: 0 0.5em 0.5em 0;
}

.sectionLikes {
    page-break-inside: avoid;
}

.listaPresepi {
    padding: 0;
    margin: 0;
    list-style: none;
}

.hottest {
    padding: 0;
    margin: 0;
    list-style: none;
}

.postWrapper {
    margin-top: 0.2cm;
    border-radius: 15px;
    border: black solid 1px;
    padding: 0.2cm;
    page-break-inside: avoid;
    display: flex;
}

.postWrapper img {
    padding: 5mm;
    object-fit: cover;
    height: 10cm;
    width: 10cm;

}

.postCategoria, .postData, .postAutore, .postDescrizione span, .postMiPiace {
    font-weight: bold;
}


.presepeImageText img {
    padding: 5mm 0 5mm 0;
    width: 100%;
 }

.postWrapper h2 {
    text-decoration: none;
}

.postWrapper a {
    display: none;
}

.postWrapper .postMiPiace {
    position: relative;
    white-space: nowrap;
    top: 10cm;
    right: 3cm;
    overflow: visible;
    width: 0;
    height: 0;
}

.postText h2 {
    font-size: 18pt;
}

.postText {
    height: 12cm;
    overflow: hidden;
}

.postWrapper .postDescrizione {
    height: 5cm;
    overflow: hidden;
}

.pageComments {
    margin-top: 3em;
    page-break-inside: avoid;
}

.listaCommenti {
    list-style-type: none;
    padding: 0;
}

.comment {
    border: black solid 1px;
    margin: 0;
    margin-top: 1em;
    padding: 1em;
    page-break-inside: avoid;
}

.commentAuthorData {
    display: flex;
    flex-direction: row;
}

.authorDelete {
    margin-right: 2em;
}

.commentForm, .presepeButton, .deleteCommentForm {
    display: none;
}