html {
    margin-left: 1cm;
    margin-top: 1cm;
    margin-right: 1cm;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16pt;
    color: black;
    page-break-inside: initial;
}

a {
    text-decoration: none;
    color: black;
}

footer, #openImage, #menuContainer, legend,.screenreaderOnly {
    display: none;
}

#headerTitle {
    display: flex;
}

#logo {
    height: 4em;
    width: 4em;
}

fieldset {
    border: 0;
}

.breadcrumbsBlock {
    height: 2em;
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: left;
}

.breadcrumbContainer {
    display: flex;
}

.breadcrumbsPre {
    margin: 0.2em 0em 0em 0em;
    padding-bottom: 2em;
}

.breadcrumbs {
    padding-left: 0.5em;
    margin: 0.2em 0em 0em 0em;
    list-style: none;
    display: flex;
}

.breadcrumbs li {
    padding-left: 0.5em;
}

#content{
    padding: 0 0.5em 0.5em 0;
}

.postWrapper {
    padding-top: 0.5cm;
    page-break-inside: avoid;
    display: flex;
    width: 100%;
    max-height: 40%;
}

.postWrapper img {
    padding: 5mm;
    object-fit: cover;
    height: 10cm;
    width: 10cm;

}
.presepeImageText img {
    padding: 5mm;
    width: 100%;
 }

.postWrapper h2 {
    text-decoration: none;
}
.postWrapper a {
    display: none;
}

.postWrapper .postMiPiace {
    position: relative;
    white-space: nowrap;
    top: 10cm;
    right: 3cm;
    overflow: visible;
    width: 0;
    height: 0;

}

.postText h2 {
    font-size: 18pt;
}
.postText {
    height: 12cm;
    overflow: hidden;
}
 .postWrapper .postDescrizione {
    height: 4.7cm;
    overflow: hidden;
}

