
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #FFF;
}

.screenreaderOnly {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    padding: 1em 0em;
    display: flex;
    height: 5em;
    justify-content: space-between;
    flex-direction: column;
}
#headerTitle {
    display: flex;
    justify-content: center;
}

#headerTitle img {
    padding: 0em 0.5em;
    max-height: 20%;
    object-fit: scale-down;
}

header nav ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
}

#logo {
    float: left;
    width: 15%;
}

#header {
    padding: 1cm;
    text-align: center;
    min-height: 9em;
}

#header h1 {
    color: sandybrown;
    font-size: 3.5em;
}

#header h2 {
    font-size: 1.5em;
}

#percorso {
    background-color: #faf6af;
    color: black;
    padding: 0.5em 0 0.5em 1.0em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#menu {
    float: left;
    width: 20%;
    padding: 0.8em;
    font-size: 1.1em;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}

#contenutoPagina {
    width: 50%;
    margin: auto;
    padding:  1.5em 1.0em 3.0em 2em;
    border-left: 1px solid #ddd;
}

.breadcrumbsBlock {
    width: 100%;
    font-size: 1.2em;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 0.5em;

}

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contatti {
    list-style-type: none;
    text-align: center;
}

#certificati {
    list-style-type: none;
    align-self: flex-end;
}

#img-xhtml  {
    height:0.5%;
}

#img-css {
    height: 0.5%;
}