
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #FFF;
}

.screenreaderOnly {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    padding-top: 1em;
    display: flex;
    height: 8em;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fce0de;
}
#headerTitle {
    height: 5em;
    display: flex;
    justify-content: center;
}
#headerTitle h1 {
    padding: 10px 0 0 0;
    margin: 0;
}
#headerTitle img {
    padding: 0em 0.5em;
    height: 100%;
    object-fit: scale-down;
}

header nav {
    height: 2em;
    width: 100%;
    border: 1px solid lightsteelblue;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

header nav ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav li {
    margin: 0;
    height: 100%;
    border-left: 1px solid lightsteelblue;
    display: flex;
    justify-content: center;
}

header nav .current {
    background-color: lightgoldenrodyellow;
}

header nav .current:hover {
    background-color: burlywood;
}

header nav li:last-child{
    border-right: 1px solid lightsteelblue;
}

header nav li:hover {
    background-color: #e2e2e2aa;
}
header nav li a {
    margin: auto;
    text-decoration: none;
    padding: 0em 1em 0em 1em;
}

main#content {
    width: 70%;
    margin: auto;
    padding: 2em;
}

.breadcrumbsBlock {
    height: 1.5em;
    width: 100%;
    margin-top: 0;
    padding: 0em 0em 0.2em 1em;
    background-color: #fcaca6;
    display: flex;
    justify-content: left;
}

.breadcrumbsPre {
    margin: 0.2em 0em 0em 0em;
    padding: 0;
    display: inline;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contatti {
    list-style-type: none;
    text-align: center;
}

#certificati {
    list-style-type: none;
    align-self: flex-end;
}

#img-xhtml  {
    height:0.5%;
}

#img-css {
    height: 0.5%;
}