
html {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1.6em;
    text-transform: none;
    color: #000;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: block;
    flex-direction: column;
    background-color: white;
}

html, body {
    margin: 0em auto;
    padding: 0em 0em;
}

.screenreaderOnly {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

header {
    padding-top: 1em;
    display: flex;
    height: 9em;
    justify-content: space-between;
    flex-direction: column;
    background-color: #4267B2;
}

header a {
    color:white;
}

header a:visited {
    color: yellow;
}

#headerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: white;
}

#headerTitle {
    height: 5em;
    display: flex;
    justify-content: center;
    color: white;
}

#headerTitle h1 {
    padding: 10px 0 0 0;
    margin: 0;
    overflow: hidden;
}

#headerTitle a {
    padding: 10px 0 0 0;
    margin: 0;
    text-decoration: none;
    color:white;
}

#headerTitle img {
    padding: 0em 1em;
    height: 4em;
    width: 4em;
    object-fit: scale-down;
}

.logHint {
    padding: 1em 1em 0 0;
}

header nav {
    height: 2.5em;
    width: 100%;
    border-top: 1px solid lightsteelblue;
    border-bottom: 1px solid lightsteelblue;
    padding: 0;
    margin: 0;
    background-color: white;
}

header nav ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav li {
    font-size: 1.1em;
    font-weight: bolder;
    margin: 0;
    height: 100%;
    border-left: 1px solid lightsteelblue;
    display: flex;
    justify-content: center;
    color: #000000;
}

header nav .current {
    background-color: lightgoldenrodyellow;
    padding: 0em 1em 0em 1em;
}

.current span {
    padding-top: 0.5em;
}

header nav .current:hover {
    background-color: burlywood;
}

header nav li:last-child{
    border-right: 1px solid lightsteelblue;
}


header nav li:hover {
    background-color: #e2e2e2aa;
}

header nav li a {
    margin: auto;
    text-decoration: none;
    padding: 0em 1em 0em 1em;
    color: #000000;
}


.loginAndSearch {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
}
.loginAndSearch button{
    padding: 0 10px;
    margin: 0 1em 0 1em;

}
.loginAndSearch a{
    color: yellow;
}
.searchBar {
    display: flex;
    height: 2em;
    width: 100%;
    margin-top: 0.5em;
}

.searchBar input{
    font-size: 16px;
    margin-top: 0.2em;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

header nav li a:visited {
    color: #000000;
}

#content {
    background-color: white;
    min-height: 60%;
    width: 70%;
    margin: auto;
    padding: 2em;
}

#content .sectionContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#content section{
    width: 70%;
    display: block;
    border-top: 1px solid lightgray;
    margin: 1em 0 1em 0;
}

.sectionContainer:last-child{
    border-bottom: 1px solid lightgray;
}

.sectionTitle {
    color: #06a0d2;
    text-align: center;
}

.listaPresepi  {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.breadcrumbsBlock {
    height: 2.25em;
    width: 100%;
    margin-top: 0;
    background-color: #4267B2;
    display: flex;
    justify-content: center;
    color: white;
}

.breacrumbContainer {
    width: 70%;
    display: flex;
    justify-content: left;
}

.breadcrumbsPre {
    margin: 0.35em 0em 0em 0em;
    display: inline;
}

.breadcrumbs {
    padding-left: 0.5em;
    margin: 0.35em 0em 0em 0em;
    list-style: none;
}

.breadcrumbs li {
    display: inline;
    padding-left: 0.5em;
    margin: 0;
    list-style: none;
}

.breadcrumbs li a {
    color: yellow;
}

footer {
    position: relative;
    background-color: #4267B2;
    color: white;
    border-top: 1px solid gray;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

#footerContatti ul {
    list-style-type: none;
}

#footerContatti li {
    display: inline;
    margin-left: 0.5em;
}

#backUp {
    color: yellow;
}

#footerContatti {
    list-style: none;
    margin-top: 2em;
    padding: 0;
}

/* login Form */
.loginWrapper {
    text-align: center;
}

.loginWrapper span {
    display:block;
}

.formContainer {
    display: flex;
    justify-content: space-around;
}

form {
    width: 60%;
}

form label,
input,
textarea,
select {
    display: block;
    width: 100%;
    font-size: 1.1em;
    height: 2em;
    box-sizing: border-box;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.5rem;
    text-align: left;
}

input, select {
    font-size: 1em;
}

select {
    border-radius: 5px;
}

textarea {
    height: 10em;
    resize: none;
    border-radius: 5px;
}

button {
    padding: 0 30px;
    margin-top: 1em;
    color: black;
    background-color: #bfbfbf;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.formButton {
    width: 25em;
}

.formText {
    padding: 0 0 5em 0;
}

form button:hover {
    background-color: #a6a6a6;
}

.errorMsg {
    color: red;
    display: block;
    font-weight: bold;
}

.successMsg {
    color: green;
    display: block;
    font-weight: bold;
}
.searchResult {
    width: 100%;
    text-align: center;
}
.postWrapper {
    margin: 2em;
    padding: 1em;
    width: 25em;
    max-height: 42em;
    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;
}

.postText p {
    margin: 0em 0em 0.5em 0em;
    padding: 0;
}

.postText {
    text-align: left;
}

.postDescrizione {
    max-height: 6em;
    overflow: hidden;
    word-wrap: break-word;
}

.postCategoria, .postData, .postAutore, .postDescrizione span, .postMiPiace {
    font-weight: bold;
}


.postWrapper img{
    object-fit: cover;
    height: 15em;
    min-width: 60%;
    width:100%;
    padding: 1em 0 1em 0;
    border-bottom: 1px solid gray;
}
.pageProper {
    display: flex;
    justify-content: space-between;
}

.presepePage {
    display: flex;
    flex-flow: column nowrap;
}

.presepeText {
    width:60%;
    text-align: left;
    margin: 1em 0 0 6em;
}
.presepePageImage {
    width: 100%;
    object-fit: contain;
    max-height: 30em;
    margin: 1em 0 0 0em;
}
.likeButtonForm{
    text-align: center;
}
.likeButton {
    background-color: #E62117;
}
.likeButton:hover {
    background-color: #cb1710;
}

.commentForm {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    width: 100%;
}
.commentForm textarea {
    height: 5em;
    resize: none;
    margin-right: 1em;
}
.comment {
    border-top: 1px solid lightgray;
}
.presepePage article:last-child{
    border-bottom: 1px solid lightgray;
}
.flexContainer {
    display: flex;

}
.spaceBetween {
    justify-content: space-between;
}
.authorDelete {
    display: flex;
    justify-content: left;
    text-align: center;
}
.authorDelete .author{
    font-weight: bold;
}
.authorDelete .deleteComment {
    margin: 0.2em 0 0 0.5em;
    margin-top: 0.4em;
    height: 2em;
    width: 3em;
}
.authorDelete .deleteComment button{
    background-color: #E62117;
    height: 2em;
    width: 3em;
    padding: 0;
    line-height: 2em;
}

.authorDelete .deleteComment button:hover{
    background-color: red;
}

.authorDelete .deleteComment button:before{
    content: 'x';
}

/* Pagina Utente */
.information {
    margin-top: 3em;
}

.delete {
    display: block;
}

.fieldsetForm {
    border: none;
    padding: 0;
    margin: 0 0 3em 0;
}

.informationForm {
    margin-right: 0;
}

.formContent {
    margin-left: 1.5em;
}

.formElement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.formLabelUser {
    font-size: 1em;
    max-width: 10em;
}

.formInput {
    height: 2.5em;
    border: 1px solid gray;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    #content {
        width: 85%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    #content {
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}
